body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    border: 1px solid black;
    box-sizing: border-box;
    width: calc(100% * (1/16));
    aspect-ratio: 1;
}